<div class="container-fluid">
    <div class="row">
        <nav id="navbar-menu" class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div id="logo" class="col">
                <img src="{{ asset('93fe383.png') }}" alt="logo_louvre" />
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="menu" class="col-sm-8 mr-4">
                <div class="collapse navbar-collapse" id="navbarColor03">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link" href="{% if homepage is defined %}#home{% else %}{{ path('home') }}{% endif %}">Accueil<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% if homepage is not defined %}{{ path('time') }}#time{% else %}#time{% endif %}">Horaires</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% if homepage is not defined %}{{ path('price') }}#price{% else %}#price{% endif %}">Tarifs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% if homepage is not defined %}{{ path('contact') }}#contact{% else %}#contact{% endif %}">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% if homepage is not defined %}{{ path('booking') }}#booking{% else %}#booking{% endif %}">Réservation</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>