{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

    <div id="home" class="row justify-content-sm-center">
        <div class="col-sm-12">
            <h2 class="text-center font-italic font-weight-bold">Réservation en ligne</h2>
        </div>
    </div>

    {{ form_start(form) }}

    <h3>Tickets</h3>
    <ul class="tickets">
        {% for ticket in form.tickets %}
        <li>{{ form_row(ticket.name) }}</li>
        <li>{{ form_row(ticket.firstname) }}</li>
        <li>{{ form_row(ticket.country) }}</li>
        <li>{{ form_row(ticket.birthday_date) }}</li>
        <li>{{ form_row(ticket.type) }}</li>
        {% endfor %}
    </ul>
    {{ form_end(form) }}

{% endblock %}