{% extends 'base.html.twig' %}

{% block title %}Création d'une commande{% endblock %}

{% form_theme form 'booking/_collection.html.twig' %} {#_self représente le fichier actuel#}

{% block body %}

	<div class="container">
		{{ form_start(form) }}
		<div class="col-12 text-center">
			<h2>Réservations des billets</h2>
		</div>
		<div class="row alert alert-secondary">
			<div class="col-8">
				{{ form_row(form.reservation_date) }}
			</div>
			<div class="col-4">
				{{ form_row(form.email) }}
			</div>
			<div class="col-12">
				{{ form_row(form.tickets) }}
			</div>
			<div class="col-12 text-center">
				<button type="submit" class="btn btn-primary">Commander</button>
			</div>
		</div>
		{{ form_end(form) }}
	</div>

{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/booking.js') }}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.fr.min.js"></script>

	<script>
		$.fn.datepicker.dates['fr'] = {
			days: ["Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi", "Dimanche"],
			daysShort: ["Lun", "Mar", "Mer", "Jeu", "Ven", "Sam", "Dim"],
			daysMin: ["Lu", "Ma", "Me", "Je", "Ve", "Sa", "Di"],
			months: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"],
			monthsShort: ["Jan", "Fev", "Mar", "Avr", "Mai", "Jui", "Jui", "Aoû", "Sep", "Oct", "Nov", "Dec"],
			today: "today",
			clear: "Clear",
			format: "dd/mm/yyyy",
			titleFormat: "MM yyyy", /* Leverages same syntax as 'format' */
			weekStart: 0
		};

		$(document).ready(function(){
			$('#booking_reservation_date, .birthday').datepicker({
				language: 'fr',
				format:'dd/mm/yyyy',
				startDate: 'today'
			});
		});

	</script>
{% endblock %}