{% extends 'base.html.twig' %}

{% block title %}Création d'une commande{% endblock %}

{% form_theme form 'booking/_collection.html.twig' %} {#_self représente le fichier actuel#}

{% block body %}

	<div class="container">
		{{ form_start(form) }}
		<div class="col-lg-12 text-center">
			<h2>Réservations des billets</h2>
		</div>

		{% for label, messages in app.flashes %}
			<div class="alert alert-warning">
				{% for message in messages %}
					<p>{{ message }}</p>
				{% endfor %}
			</div>
		{% endfor %}

		<div class="row alert alert-secondary">
			<div class="col-lg-4">
				{{ form_row(form.reservationDate, {'attr': {'class': 'datepickerBooking'}}) }}
			</div>
			<div class="col-lg-4">
				{{ form_row(form.email) }}
			</div>
			<div class="col-lg-4">
				{{ form_row(form.dayType) }}
			</div>
			<div class="col-lg-12">
				{{ form_row(form.tickets) }}
			</div>
			<div class="col-lg-4 offset-4 text-center">
				<button type="submit" class="btn btn-primary">Commander</button>
			</div>
		</div>
		{{ form_end(form) }}
	</div>

{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/booking.js') }}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.fr.min.js"></script>

	<script>
		$.fn.datepicker.dates['fr'] = {
			days: ["Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi", "Dimanche"],
			daysShort: ["Lun", "Mar", "Mer", "Jeu", "Ven", "Sam", "Dim"],
			daysMin: ["Lu", "Ma", "Me", "Je", "Ve", "Sa", "Di"],
			months: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"],
			monthsShort: ["Jan", "Fev", "Mar", "Avr", "Mai", "Jui", "Jui", "Aoû", "Sep", "Oct", "Nov", "Dec"],
			today: "today",
			clear: "Clear",
			format: "dd/mm/yyyy",
			titleFormat: "MM yyyy", /* Leverages same syntax as 'format' */
			weekStart: 0
		};

		$(document).ready(function(){
			$('body').on('focus',".datepickerBooking" , function(){
				$(this).datepicker({
					language: 'fr',
					format:'dd/mm/yyyy',
					startDate: new Date(),
					datesDisabled: [
							new Date(01/11)
					],
					daysOfWeekDisabled : [
							'01'
					]
				});
			});
		});

		$(document).ready(function(){
			$('body').on('focus',".datepickerTicket" , function(){
				$(this).datepicker({
					language: 'fr',
					format:'dd/mm/yyyy',
					endDate: new Date()
				});
			});
		});

	</script>
{% endblock %}