<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Votre email de confirmation{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="default_blue.css" />
        <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
    {% endblock %}
</head>
<body>
<div class="container">
    <div class="row justify-content-center mb-5 mt-3">
        <div id="logo" class="col-12 col-md-3">
            <img src="{{ asset('93fe383.png') }}" alt="logo_louvre" />
        </div>
        <div class="col-12 col-md-9">
            <h4>Bonjour, votre réservation n° {{ booking.reservationNumber }} pour le {{ booking.reservationDate|date('d/m/Y') }}</h4>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12">
            <h5>Voici vos tickets :</h5>
        </div>
    </div>
    {% for ticket in booking.tickets %}
        <div class="row  border border-primary bg-primary text-white pt-3 rounded">
            <dt class="col-12 col-md-2">Nom/Prénom :</dt>
            <dd class="col-12 col-md-2">{{ ticket.name|capitalize }} {{ ticket.firstname|capitalize }}</dd>
            <dt class="col-12 col-md-2">Pays du détenteur :</dt>
            <dd class="col-12 col-md-1">{{ ticket.country }}</dd>
            <dt class="col-12 col-md-2">Date de naissance :</dt>
            <dd class="col-12 col-md-2">{{ ticket.birthdayDate|date('d/m/Y') }}</dd>
            <dt class="col-12 col-md-2">Tarif réduit :</dt>
            <dd class="col-12 col-md-5">{% if ticket.reducePrice == 1 %} Oui (Veuillez présenter votre justificatif lors de l'entrée) {% else %} Non {% endif %}</dd>
            <dt class="col-12 col-md-2">Prix du billet :</dt>
            <dd class="col-12 col-md-2">{{ ticket.price }} €</dd>
        </div><br>

    {% endfor %}
        <div class="row  border border-primary bg-primary text-white pt-3 rounded">
            <dt class="col-12 col-md-3">Prix total de la réservation :</dt>
            <dd class="col-12 col-md-2">{{ booking.totalPrice }} €</dd>
        </div>
</div>

</body>
